  .assessmentBreadCrumb {
    float:right;
    margin:0;
    background-color:$tertiaryColor2;
    line-height:20px;
    padding:0;
    @include border-radius($smallBorderRadius, $smallBorderRadius, $smallBorderRadius, $smallBorderRadius);
    li {
      display:block;
      float:left;
      font-size:12px;
      padding:0 10px;
      position:relative;
      background-color:$tertiaryColor2;
      &.bcstep1 {
        background-color:$tertiaryColor3;
        @include border-radius($smallBorderRadius, $zeroBorderRadius, $zeroBorderRadius, $smallBorderRadius);
      }
      &.bcstep2:after {
        left: 100%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        z-index:1000;
      }
      &.bcstep2:after {
        border-color: rgba(238, 238, 238, 0);
        border-left-color: $tertiaryColor2;
        border-width: 10px;
        top: 50%;
        margin-top: -10px;
      }
      &.bcstep1:after {
        left: 100%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        z-index:1000;
      }
      &.bcstep1:after {
        border-color: rgba(224, 224, 224, 0);
        border-left-color: $tertiaryColor3;
        border-width: 10px;
        top: 50%;
        margin-top: -10px;
      }
      &.active:after {
        left: 100%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
      }
      &.active:after {
        border-color: rgba(163, 211, 215, 0);
        border-left-color: $tertiaryColor16;
        border-width: 10px;
        top: 50%;
        margin-top: -10px;
      }
      &.bcstep3:after {
        left: 100%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
      }
      &.bcstep3:after {
        border-color: rgba(224, 224, 224, 0);
        border-left-color: $tertiaryColor3;
        border-width: 0px;
        top: 50%;
        margin-top: -10px;
      }
      &.bcstep3 {
        background-color:$tertiaryColor3;
      }
      &.active {
        font-weight:bold;
        background-color:$primaryColor4;
      }
      &.bcstep2, &.bcstep3 {
        padding-left: 15px;
      }
    }
  }
