/*  
	Number represents lightness/darkness.
	Lower numbers are lighter.
	Higher numbers are darker.
*/

/* Primary Color */
$primaryColor1: #EEF4F4;
$primaryColor2: #E2F3F4;
$primaryColor3: #DFECED;
$primaryColor4: #A3D3D7;
$primaryColor5: #CDE5E7;
$primaryColor6: #66BAC0;
$primaryColor7: #2C8DB9;
$primaryColor8: #18919A;
$primaryColor9: #003436;

/* Seoondary Color */
$secondaryColor1: #eff6f7;
$secondaryColor2: #d9e8ed;
$secondaryColor3: #DFECED;
$secondaryColor4: #deeced;
$secondaryColor5: #b2d9de;
$secondaryColor6: #95C0D1;
$secondaryColor7: #46aacd;
$secondaryColor8: #2C8DB9;
$secondaryColor9: #31639a;

/* Tertiary Color */
$tertiaryColor1: #f7f7f7;
$tertiaryColor2: #EEEEEE;
$tertiaryColor3: #E0E0E0;
$tertiaryColor4: #cccccc;
$tertiaryColor5: #dddddd;
$tertiaryColor6: #999999;
$tertiaryColor7: #666666; 
$tertiaryColor8: #333333; 

/* Negative Response */
$negative2: #D18E8E;
$negative3: #D15050;
$negative4: #D04141;

/* Positive Response */
$positive3: #B4D781;
$positive4: #9BBE68;

/* Oranges */
$colorOrange3: #f7941d;
$colorOrange4: #e18719;

/* Whites */
$colorWhite1: #ffffff;

$colorBlack: #000000;

$boxBorder: #c1e3e5;

/* Miscellaneous */
$transparentColor: transparent;