$symbolArrowDialog: ("symbol-dialog-arrow.png");
$symbolArrowFollow: ("symbol-arrow-follow.png");
$symbolBluePointedDown: ("symbol-small-arrow-down.png");
$symbolCollapse: ("symbol-collapse.png");
$symbolArrowDisabledPointedDown: ("symbol-small-arrow-down-disabled.png");
$symbolExpand: ("symbol-expand.png");
$symbolHeaderArrow: ("symbol-header-arrow.png");
$symbolWhiteArrowPointedDown: ("symbol-white-arrow-pointed-down.png");
$symbolRightArrow: ("symbol-right-arrow.png");
$symbolSmallArrowPointDown: ("symbol-small-arrow-point-down.png");
$symbolSmallArrowPointRight: ("symbol-small-arrow-point-right.png");
$symbolStarNotSelected: ("symbol-star-not-selected.png", 20px, 19px);
$symbolStarSelected: ("symbol-star-selected.png", 20px, 19px);
$symbolTextBubble: ("symbol-text-bubble.png");
$symbolWideArrowPointedDown: ("symbol-wide-arrow-pointed-down.png");
$symbolWideArrowPointedRight: ("symbol-wide-arrow-pointed-right.png");