var path = require('path');
var webpack = require('webpack');
var ExtractTextPlugin = require("extract-text-webpack-plugin");

module.exports = {
  entry: [
    'babel-polyfill',
    './src/js/app.js',
    './src/less/styles.less',
  ],
  output: {
      publicPath: 'dist',
      filename: '/js/bundle.js'
  },
  module: {
    loaders: [
      {
        loader: "babel-loader",
        include: [
          path.resolve(__dirname, "src/js"),
        ],
        test: /\.jsx?$/,
        query: {
          presets: ['es2015', 'react'],
        }
      },
      { test: /\.less$/, loader: 'style-loader!css-loader!less-loader' },

      // Any png-image or woff-font below or equal to 100K will be converted
      // to inline base64 instead
      { test: /\.(png|gif|woff|eot|ttf)$/, loader: 'url-loader?limit=10000000' }
    ]
  },
  stats: {
    colors: true
  },
  debug: true,
  devtool: 'source-map',
  devServer: {
		port: process.env.PORT || 8080,
		contentBase: './dist',
		historyApiFallback: true
	}
};
